################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AutoMapperExample/.vs/AutoMapperExample.slnx
/AutoMapperExample/.vs/AutoMapperExample/CopilotIndices/18.4.111.64248
/AutoMapperExample/BankManagement/bin/Debug/net8.0
/AutoMapperExample/BankManagement/bin/Debug/net8.0/appsettings.Development.json
